In [1]:
from datascience import *

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.pipeline import Pipeline
from sklearn import tree
from sklearn import metrics
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn.model_selection import train_test_split

import pandas as pd
import numpy as np

import graphviz
import os
os.environ["PATH"] += os.pathsep + 'C:/Program Files (x86)/Graphviz2.38/bin/'

In [4]:
# Load data set 
data = Table.read_table('my_tweets_2017-09-22_18-15-01_nonASCII_removed-1.csv', sep=',') # If your data is separate by '\t', then use sep='\t'
data

Daniel | Nick | Prediction | user_id	user_name	time	location	text                         | Unnamed: 4                                                   | Unnamed: 5                                                   | Unnamed: 6                                                   | Unnamed: 7
Pos    |  Pos | Pos        | 33461403	MPEA;EJINAOL	Fri Sep 22 22:15:05 +0000 2017	ico ... | nan                                                          | nan                                                          | nan                                                          | nan
IR     |  IR  | IR         | 3249652142	 	Fri Sep 22 22:15:08 +0000 2017	 	RT @TFBOYS ... | nan                                                          | nan                                                          | nan                                                          | nan
Neg    |  IR  | Neg        | 20751449	The Hindu	Fri Sep 22 22:15:08 +0000 2017	Chennai    |  India	Review: When the Kingsman partner with the Statesman  |  located in Kentucky                                         |  every American stereotype is abused https://t.co/kJBcjZFU9o | nan
Pos    |  Pos | Pos        | 400302606	Lucy  	Fri Sep 22 22:15:10 +0000 2017		--Kings ... | nan                                                          | nan                                                          | nan                                                          | nan
IR     |  Pos | IR         | 1040450707	Juan y punto.	Fri Sep 22 22:15:11 +0000 2017	 ... | nan                                                          | nan                                                          | nan                                                          | nan
Pos    |  IR  | Pos        | 853698666338680832	SeleQtos	Fri Sep 22 22:15:12 +0000 20 ... |  Fleet St                                                    |  London. Photo by VeRoNik. | #architecture #viajar #King ... | nan                                                          | nan
IR     |  IR  | IR         | 802946705457086464	All Out Movies	Fri Sep 22 22:15:16 +0 ... | nan                                                          | nan                                                          | nan                                                          | nan
Neg    |  Neg | Neg        | 2859948387	Victor Hugo	Fri Sep 22 22:15:16 +0000 2017	Ta ... | nan                                                          | nan                                                          | nan                                                          | nan
IR     |  IR  | IR         | 64002133	Collett Dawson	Fri Sep 22 22:15:17 +0000 2017	J ... |  South Africa	RT @MeganMovieGirl: Halle Berry and Pedro  ... | nan                                                          | nan                                                          | nan
Pos    |  Pos | Pos        | 258437424	lil tendercrisp	Fri Sep 22 22:15:21 +0000 2017 ... | nan                                                          | nan                                                          | nan                                                          | nan
... (322 rows omitted)

In [5]:
# Prepare data
data_X = list(data['text'])
data_y = list(data['label'])

print('data_X size:', len(data_X))
print('data_y size:', len(data_y))

ValueError: The column "text" is not in the table. The table contains these columns: Daniel, Nick, Prediction, user_id	user_name	time	location	text , Unnamed: 4, Unnamed: 5, Unnamed: 6, Unnamed: 7

In [ ]:
# Using train_test_split
X_train, X_test, y_train, y_test = train_test_split(data_X, data_y, test_size=.20, random_state=0)

# Convert X_train to bag-of-words representation
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(X_train)

### TODO: Tune max_depth param ###
# Try different values of max_depth, and see how the f1-score changes
# Note: when max_depth is None, the full tree is fitted
clf = tree.DecisionTreeClassifier(max_depth=None, criterion='entropy')
clf.fit(X_train_counts, y_train)

X_test_counts = count_vect.transform(X_test)
predicted = clf3.predict(X_test_counts)
print(metrics.classification_report(y_test, predicted))

In [ ]:
# Inline plot of the Decision Tree
### TODO ###
# If your not predicting "irrelevant" vs. "relevant"
# then you need to change the class_names argument
# For example, class_names=['positive', 'negative']
dot_data = tree.export_graphviz(clf3, out_file=None, 
                                feature_names=count_vect.get_feature_names(),
                                class_names=['irrelevant', 'relevant'])
graph = graphviz.Source(dot_data)
graph

In [ ]:
# Save the tree plot to pdf file
### TODO ###
# Specify tree file name here
graph.render('YOUR_TREE_FILE')