In [1]:
from datascience import *

In [6]:
# Load my_tweets_*.csv into Table
# Hint: change the csv file name to your own file name
table1 = Table.read_table('my_tweets_Toby-Chan.csv', sep='\t')

In [7]:
# A glance of the Table
table1

user_id            | user_name      | time                           | location                       | text
2361934264         | Dino           | Thu Sep 07 14:01:18 +0000 2017 | nan                            | @DavidCornDC Are you saying entire Trump family might vi ...
220772568          | Taylor Doyle   | Thu Sep 07 14:01:18 +0000 2017 | Boston, MA                     | RT @araslanian_: If you support trump, unfollow me. We w ...
1095314306         | LCoghlan       | Thu Sep 07 14:01:18 +0000 2017 | Bastrop and Matagorda, TX, USA | RT @SheriffClarke: Laughable. GOP congress that didn't r ...
2390302490         | madina         | Thu Sep 07 14:01:18 +0000 2017 | nan                            | RT @YG: We been told y'all FUCK DONALD TRUMP.
327347693          | sherwood31     | Thu Sep 07 14:01:18 +0000 2017 | toulouse                       | Le monde tournerait il pas à l'envers, une course à l'éc ...
760864021574672384 | #ShariaSheeple | Thu Sep 07 14:01:18 +0000 2017 | nan                            | RT @eeynouf: Colbert falsely claims Trump never met Hurr ...
827979813801619456 | marbro         | Thu Sep 07 14:01:18 +0000 2017 | nan                            | RT @DineshDSouza: I wonder how she felt when she put US  ...
23986208           | debby pastrich | Thu Sep 07 14:01:18 +0000 2017 | Northampton, MA                | Good point. Wondered when GOP would get tweaked. https:/ ...
2715375852         | jazmine        | Thu Sep 07 14:01:18 +0000 2017 | nan                            | RT @araslanian_: Stop asking me why I don't give a fuck  ...
171954269          | Sandra Rios    | Thu Sep 07 14:01:18 +0000 2017 | nan                            | RT @E_of_Justice: Who would have thought?! https://t.co/ ...
... (292 rows omitted)

In [ ]:
# Access the data in the 'text' column, and store it in text_array
text_array = table1['text']

In [ ]:
# Show the number of elements
print(len(text_array))

In [ ]:
# Hint: 
# We first create an empty list, word_num
# For each piece of text in text_array, we split it into words, using the split() method of str type
# Then we append the number of words to word_num. len() function can used count the number of words.
word_num = []

for text in text_array:    
    if len(text) == 0:
        word_num.append(0)
        continue
        
    ### START YOUR CODE HERE (roughly 2 lines of code) ###
    words = None
    word_num.append(None)
    ### END OF YOUR CODE ###

table2 = table1.with_columns('word_num', word_num)
table2

In [4]:
import pandas as pd

In [13]:
df = pd.DataFrame.from_csv('my_tweets_Toby_Chan_utf8cleaned.csv', encoding='utf-8', sep='\t')

In [14]:
df

,user_name,time,location,text
user_id,,,,
2361934264,Dino,Thu Sep 07 14:01:18 +0000 2017,NaN,@DavidCornDC Are you saying entire Trump famil...
220772568,Taylor Doyle,Thu Sep 07 14:01:18 +0000 2017,"Boston, MA","RT @araslanian_: If you support trump, unfollo..."

In [3]:
df = pd.DataFrame.from_csv('my_tweets_Morgan-Sterling.csv', sep='\t')

NameError: name 'pd' is not defined

In [ ]:
df