In [1]:
from datascience import *

In [30]:
d1 = Table.read_table('lab5_submissions/Lab5_Toby-Chan_labels.csv')

# Clear taggerB column
# d1['taggerB'] = d1.apply(lambda x: x.strip(), 'taggerB')

In [31]:
d1

relevent/Irrelevent | Pos/Neg Toby | Pos/neg Chris
I                   | nan          | nan
I                   | nan          | nan
R                   | n            | n
I                   | nan          | nan
R                   | p            | p
R                   | p            | n
R                   | p            | p
R                   | n            | p
R                   | p            | n
I                   | nan          | nan
... (283 rows omitted)

In [28]:
print('Total # of tweets: ', d1.num_rows)

Total # of tweets:  334

In [21]:
# How many tweets that taggerA labeled as "IR"
d1.where('taggerA', are.equal_to('IR')).num_rows

76

In [23]:
# How many tweets that both taggerA and taggerB labeled as "IR"
d1.where('taggerA', are.equal_to('IR')).where('taggerB', are.equal_to('IR')).num_rows

76

In [25]:
# How many Positive, Negative, and Neutral does each tagger give?
print('Tagger A')
print('Positive #: ', d1.where('taggerA', are.equal_to('Pos')).num_rows)
print('Negative #: ', d1.where('taggerA', are.equal_to('Neg')).num_rows)
print('Neutral #: ', d1.where('taggerA', are.equal_to('Neu')).num_rows)

print('\nTagger B')
print('Positive #: ', d1.where('taggerB', are.equal_to('Pos')).num_rows)
print('Negative #: ', d1.where('taggerB', are.equal_to('Neg')).num_rows)
print('Neutral #: ', d1.where('taggerB', are.equal_to('Neu')).num_rows)

Tagger A
Positive #:  127
Negative #:  21
Neutral #:  80

Tagger B
Positive #:  93
Negative #:  21
Neutral #:  115